body {
  padding: 0;
}

.translate-cloak {
  background: white;
}

/*inizio Ale*/

.navbar-nav > li > a {
  color: white;
}

.navbar-nav > li > a:hover {
  color: steelblue;
}

.navbar-nav > li > button {
  margin-top: 18%;
  margin-right: 2%;
  font-weight: bold;
  background-color: steelblue;
  border: none;
}

.row-home {
  height:50%;
  /*border: 1px solid;
  border-top: 0px;*/
}

.row-home-bottom {
  height:50%;
}

.row-home-central {
  height: 100%;
}

.wrapper {
  margin: 2em;					/* just a temp margin */
  border: 0.1em solid #ccc;	/* wrap the calendar inside a box */
  width: 18em;				/* define a width for the box */
  height: 21em;				/* define a height for the box */
  box-shadow: 0.1em 0.2em 0.8em #ccc;	/* box shadow for better view */
}

.calendar-header {
  height: 3em;					/* define a height for the header */
  color: black;					/* give the header a text color */
  text-align: center;				/* center the text inside the header */
}

.calendar-body .calendar-cell {
  width: 2.5em;					/* give each column a fixed width */
  margin-left: 0.2em;				/* have some space between columnd */
  text-align: center;				/* align text in the center */
}

.navbar {
  margin-bottom: 0;
}

.navbar-inverse {
  background-color: black;
}

/*fine Ale*/


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    /*margin-bottom: 30px;*/
  }

}
