<div class="panel" style="margin:1%;">

  <form id="filters" role="search">
    <table style="padding:5;line-height: 3;margin:1%;">
      <tr>
        <td>Prodotto:&nbsp</td>
        <td>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Prodotto...">
          </div>
        </td>
      </tr>
      <tr>
        <td>Componente:&nbsp</td>
        <td>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Componente...">
          </div>
        </td>
      </tr>
      <tr>
        <td>Versione:&nbsp</td>
        <td>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Versione...">
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-plus"></span>&nbspAggiungi</button>
          </span>
        </td>
      </tr>
    </table>
  </form>
</div>

</div>
