<div style="margin: 3.5%;">
  <!--<div class="panel-heading">
    <h3 class="panel-title"></h3>
  </div>-->

   <div class="panel panel-primary" style="border-radius:20px;">
     <table class="table">
       <tr>
        <td style="text-align:center; width:23%;" rowspan="3"> <img style="width:24%; height:36%;" ng-src="../../images/favicon.ico"><br>User1 <br>Delivery <br>Installation team</td>
        <td>Customer: ALC</td>
        <td>Environment: SIT</td>
        <td style="border-left: 1px solid; border-color: #337AB7;" rowspan="3">
          <div class="btn-group" ng-include="'views/partials/actionMenu.html'"></div>
        </td>
      </tr>
      <tr>
        <td style="border-top:none;">INSTALLATION:</td>
        <td style="border-top:none;">30/04/2016   16:42</td>
      </tr>
      <tr>
        <td style="border-top:none;">Spn-web-games</td>
        <td style="border-top:none;"><span class="label label-success">Installation complete</span></td>
      </tr>
    </table>
  </div>

  <div class="panel panel-primary" style="border-radius:20px;">
    <table class="table">
      <tr>
       <td style="text-align:center; width:23%;" rowspan="3"> <img style="width:24%; height:36%;" ng-src="../../images/troll-mini.png"><br>User1 <br>Delivery <br>Installation team</td>
       <td>Customer: ALC</td>
       <td>Environment: SIT</td>
       <td style="border-left: 1px solid; border-color: #337AB7;" rowspan="3">
         <div class="btn-group" ng-include="'views/partials/actionMenu.html'"></div>
       </td>
     </tr>
     <tr>
       <td colspan="2" style="border-top:none;">INSTALLATION &nbsp&nbsp 30/04/2016   16:42</td>
     </tr>
     <tr>
       <td style="border-top:none;" colspan="2"><span class="label label-info">Installation in progress</span></td>
     </tr>
   </table>
 </div>

 <div class="panel panel-primary" style="border-radius:20px;">
   <table class="table">
     <tr>
      <td style="text-align:center; width:23%" rowspan="3"> <img style="width:24%; height:36%;" ng-src="../../images/face.gif"><br>User1 <br>Delivery <br>Installation team</td>
      <td>Customer: ALC</td>
      <td>Environment: SIT</td>
      <td style="border-left: 1px solid; border-color: #337AB7;" rowspan="3">
        <div class="btn-group" ng-include="'views/partials/actionMenu.html'"></div>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="border-top:none;">INSTALLATION &nbsp&nbsp 30/04/2016   16:42</td>
    </tr>
    <tr>
      <td style="border-top:none;" colspan="2"><span class="label label-danger">Installation blocked</span></td>
    </tr>
  </table>
</div>

</div>
