<select class="form-control" id="statusFilter">
  <option selected="selected"></option>
  <option>Created</option>
  <option>Customization in progress</option>
  <option>Customization completed</option>
  <option>Customization blocked</option>
  <option>Installation in progress</option>
  <option>Installation completed</option>
  <option>Installation blocked</option>
  <option>QA Test in progress</option>
  <option>QA Test completed</option>
  <option>QA Test blocked</option>
</select>
<!-- <ul class="dropdown-menu">
  <li><a href="#">Created</a></li>
  <li><a href="#">Customization in progress</a></li>
  <li><a href="#">Customization completed</a></li>
  <li><a href="#">Customization blocked</a></li>
  <li><a href="#">Installation in progress</a></li>
  <li><a href="#">Installation completed</a></li>
  <li><a href="#">Installation blocked</a></li>
  <li><a href="#">QA Test in progress</a></li>
  <li><a href="#">QA Test completed</a></li>
  <li><a href="#">QA Test blocked</a></li>
</ul> -->
